@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&display=swap");
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 0.0555555556rem dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -0.1111111111rem;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

html {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 17px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 13px;
  }
}

html,
body {
  height: 100%;
}

body {
  font-size: 18px;
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osk-font-smoothing: grayscale;
  position: relative;
  color: #666666;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 95%;
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

.map {
  background: #ccc;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 64px;
  padding: 1.2777777778rem 0;
  background-color: #fff;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .footer__container {
    flex-direction: column;
  }
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.hero {
  background: url("../img/main/bluesheet.png") right bottom no-repeat;
  background-color: #61c4d9;
  height: 100vh;
  min-height: 36.1111111111rem;
  color: #fff;
  position: relative;
}
@media screen and (min-widh: 768px) {
  .hero {
    background: url("../img/main/bluesheet.png") right bottom no-repeat;
  }
}
@media screen and (max-width: 768px) {
  .hero {
    background-position: right bottom 88%;
    height: 100vh;
  }
}
@media screen and (max-width: 480px) {
  .hero {
    background-position: right bottom 88%;
    height: 80vh;
  }
}
.hero:before {
  position: absolute;
  bottom: -2.2222222222rem;
  left: 2%;
  content: url("../img/main/csheet.png");
}
@media screen and (max-width: 480px) {
  .hero:before {
    display: none;
  }
}
.hero:after {
  content: url("../img/main/pattern.png");
  position: absolute;
  bottom: -2.3333333333rem;
  right: 3%;
}
@media screen and (max-width: 768px) {
  .hero:after {
    content: "";
    background-image: url("../img/main/pattern.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    bottom: 23.8888888889rem;
    right: 24%;
    width: 335px;
    height: 231px;
  }
}
@media screen and (max-width: 480px) {
  .hero:after {
    width: 200px;
    height: 130px;
    right: 21%;
  }
}

.hero__title-section {
  width: 46%;
  margin-bottom: 5%;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .hero__title-section {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .hero__title-section {
    position: relative;
    top: 55px;
  }
}

@media screen and (max-width: 768px) {
  .hero__icons-section {
    display: none;
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  height: 75%;
  padding: 1.3333333333rem 0 2.5rem;
  background: url("../img/main/candybar.png") right center/contain no-repeat;
}
@media screen and (max-width: 768px) {
  .hero__container {
    background-size: 70%;
  }
}
@media screen and (max-width: 480px) {
  .hero__container {
    background-size: 70%;
  }
}

.hero__main-title {
  font-size: 2.6666666667rem;
  line-height: 1.1;
  font-weight: bold;
  margin-bottom: 1.1111111111rem;
  text-transform: uppercase;
}

.hero__title-desk {
  font-size: 1.1666666667rem;
  margin-bottom: 1.1111111111rem;
  padding-right: 10%;
}
@media screen and (max-width: 768px) {
  .hero__title-desk {
    padding: 0 25%;
  }
}
@media screen and (max-width: 480px) {
  .hero__title-desk {
    padding: 0 16%;
  }
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 5%;
}
@media screen and (max-width: 768px) {
  .header {
    margin-bottom: 82%;
  }
}
.header .phone-number__icon {
  flex-shrink: 0;
}
.header .phone-number__text {
  white-space: nowrap;
}
.header .menu {
  display: flex;
  margin: 0 30px;
  padding-top: 5px;
}
@media screen and (max-width: 768px) {
  .header .menu {
    display: none;
  }
}
.header .menu__list {
  display: flex;
  align-items: center;
  margin-right: 5rem;
  flex-wrap: wrap;
  justify-content: center;
}
.header .menu__item {
  margin-right: 0.8333333333rem;
  margin-top: 10px;
}
.header .menu__item:last-child {
  margin-right: 0;
}
.header .menu__link {
  text-decoration: none;
  white-space: nowrap;
}
.header .phone-number {
  font-size: 1.3333333333rem;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.header .phone-number__icon-elem {
  width: 0.6666666667rem;
  height: 0.6666666667rem;
  margin-right: 0.3333333333rem;
}

.feature {
  display: flex;
}

.feature__icon {
  width: 2.5rem;
  margin-right: 0.3888888889rem;
}

.feature__text {
  font-size: 0.8888888889rem;
  min-width: 4.7222222222rem;
}

.features {
  display: flex;
  max-width: -webkit-min-content;
  max-width: min-content;
}

.features__item {
  margin-right: 2.5555555556rem;
}
.features__item:last-child {
  margin-right: 0;
}

.btn {
  font-style: 1.0555555556rem;
  font-weight: bold;
  padding: 1rem 2.0555555556rem;
  text-transform: uppercase;
  border-radius: 5.5555555556rem;
  line-height: 1;
  text-decoration: none;
  border: none;
  display: inline-block;
}
.btn--theme--white {
  background: #fff;
  color: #365A49;
}
.btn--theme--white:hover {
  color: #fff;
  background: #365A49;
}
.btn--theme--green {
  background: #365A49;
  color: #fff;
}
.btn--theme--green:hover {
  color: #365A49;
  background: #fff;
}
.btn--theme--green--all {
  background: #365A49;
  color: #fff;
}
.btn--theme--green--all:hover {
  color: #fff;
  background: #365A49;
}
.btn--theme--transparent {
  background: transparent;
  color: #000;
  text-transform: none;
}
.btn--theme--transparent:hover {
  color: #365A49;
}

.section {
  width: 100%;
  height: 100vh;
  min-height: 36.1111111111rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section--font-color--green {
  color: #365A49;
  background: url("../img/input/greenbackground.png");
}
.section--font-color--green .section__title {
  color: inherit;
}

.section__title {
  font-size: 2.6666666667rem;
  font-weight: bold;
  margin-bottom: 3.3333333333rem;
  text-align: center;
  text-transform: uppercase;
  color: #000;
}

.headline__title {
  margin-bottom: 1.3888888889rem;
}

.benefits {
  display: flex;
}
@media screen and (max-width: 480px) {
  .benefits {
    flex-direction: column;
  }
}

.benefits__item {
  flex: 1;
  padding: 0 3%;
  position: relative;
}
@media screen and (max-width: 480px) {
  .benefits__item {
    padding: 0;
    margin-bottom: 2.7777777778rem;
  }
}
.benefits__item:before {
  content: url("../img/section/adecor.png");
  position: absolute;
  top: 1.6666666667rem;
  right: 0;
  transform: translate(50%);
}
@media screen and (max-width: 480px) {
  .benefits__item:before {
    display: none;
  }
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child:before {
  display: none;
}

.benefit {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefit {
    display: flex;
    text-align: left;
  }
}

.benefit__image-wrapper {
  display: inline-block;
  width: 7rem;
  height: 7rem;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
}
@media screen and (max-width: 480px) {
  .benefit__image-wrapper {
    flex-shrink: 0;
    margin-right: 3%;
  }
}

.benefit__icon {
  width: 4.1666666667rem;
  height: 3.8333333333rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.benefit__image {
  margin-bottom: 1.0555555556rem;
}
@media screen and (max-width: 480px) {
  .benefit__image {
    margin-bottom: 0;
    margin-right: 1.1111111111rem;
  }
}

.headline {
  text-align: center;
  margin-bottom: 2.8333333333rem;
}

.headline__title {
  margin-bottom: 0.3888888889rem;
}

.headline__subtitle {
  padding: 0 26%;
}
@media screen and (max-width: 480px) {
  .headline__subtitle {
    padding: 0 5%;
  }
}

.benefits-section {
  position: relative;
  background: url("../img/section/sheet.png") left top 57% no-repeat;
}
@media screen and (max-width: 480px) {
  .benefits-section {
    background: none;
  }
}
.benefits-section:before {
  content: url("../img/section/decor.png");
  position: absolute;
  bottom: -4.4444444444rem;
  left: 0;
}
@media screen and (max-width: 480px) {
  .benefits-section:before {
    display: none;
  }
}

.reviews-section {
  position: relative;
  background: url("../img/reviews/strawberry.png") right 8% top 3% no-repeat;
}
@media screen and (max-width: 480px) {
  .reviews-section {
    background: url("../img/reviews/strawberry.png") right -9% top 0% no-repeat;
  }
}
.reviews-section:before {
  content: url("../img/reviews/berries.png");
  position: absolute;
  bottom: -4.4444444444rem;
  left: 0;
}
@media screen and (max-width: 480px) {
  .reviews-section:before {
    left: -36px;
  }
}

.reviews__display {
  background: #f8faf9;
  padding: 50 px 2.5rem 1.8888888889rem;
  margin-bottom: 1.1111111111rem;
  overflow: hidden;
  position: relative;
}
.reviews__display:before {
  content: "";
  display: block;
  width: 5rem;
  height: 5rem;
  background: #FFF;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -3.6111111111rem;
}

.reviews__display-inner {
  display: flex;
  padding: 2.3333333333rem;
}
@media screen and (max-width: 768px) {
  .reviews__display-inner {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}
.reviews__display-inner:before {
  content: url("../img/reviews/pattern.png");
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
}

.reviews__avatar {
  width: 14.1111111111rem;
  height: 14.4444444444rem;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    width: 7.2222222222rem;
    height: 7.3333333333rem;
  }
}
@media screen and (max-width: 480px) {
  .reviews__avatar {
    margin-bottom: 10%;
  }
}

.reviews__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 480px) {
  .reviews__avatar-img {
    width: 45%;
    height: 100%;
    margin: auto;
    margin-bottom: 22px;
  }
}

.reviews__content {
  flex: 1;
  margin-left: 1.1111111111rem;
}

.reviews__title {
  font-size: 1.6666666667rem;
  font-weight: bold;
  margin-bottom: 1.2222222222rem;
  color: black;
}

.reviews__text {
  margin-bottom: 2rem;
  padding-right: 4.6111111111rem;
}

.reviews__author {
  font-size: 1rem;
  font-weight: bold;
  color: black;
}

.reviews__switcher {
  display: flex;
  justify-content: center;
}

.reviews__item {
  margin-left: 0.3333333333rem;
}
.reviews__item:first-child {
  margin-left: 0;
}

.interective-avatar {
  width: 4.4444444444rem;
  height: 4.4444444444rem;
  border: 0.3333333333rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.interective-avatar--active {
  border: 0.3333333333rem solid #0f5a47;
}

.interective-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}

.interective-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .form {
    padding: 0 19%;
    flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0;
  }
}

.form__col {
  flex: 1;
  margin-right: 1.1111111111rem;
}
.form__col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
  margin-bottom: 1rem;
}

.form__block {
  flex: 1;
  margin-right: 1.1111111111rem;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  border: none;
  padding: 1rem 0.6111111111rem;
  border: solid 0.1666666667rem transparent;
}
.form__input--textarea {
  height: 10rem;
  resize: none;
}
.form__input:focus {
  border-color: #dee2bd;
  outline: none;
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 480px) {
  .form__controls {
    justify-content: center;
  }
}

.form__btns {
  display: flex;
  justify-content: center;
}

.radio {
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
  align-items: center;
  margin-right: 1.2222222222rem;
}
@media screen and (max-width: 480px) {
  .radio {
    margin-bottom: 0.5555555556rem;
  }
}
.radio--checkbox {
  border-radius: 0;
}
.radio--checkbox:before {
  background: url("../img/input/1.png") center no-repeat;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible:before {
  display: block;
}

.radio__visible {
  width: 1.4444444444rem;
  height: 1.4444444444rem;
  position: relative;
  border-radius: 50%;
  background: #fff;
}
.radio__visible:before {
  content: "";
  width: 0.7777777778rem;
  height: 0.7777777778rem;
  background: #365a49;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 30%;
  left: 50%;
  transform: translate(-50%);
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: 100;
}

.fixed-menu__item {
  margin-bottom: 0.2777777778rem;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #fff;
}

.fixed-menu__link {
  width: 0.8888888889rem;
  height: 0.8888888889rem;
  border-radius: 50%;
  border: 0.0555555556rem solid transparent;
  display: block;
}
.fixed-menu__link:before {
  content: "";
  display: block;
  width: 0.3333333333rem;
  height: 0.3333333333rem;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contacts {
  font-style: normal;
  font-size: 1.1111111111rem;
  color: #010101;
}
@media screen and (max-width: 480px) {
  .contacts {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.contacts__phone {
  color: #365A49;
}

.socials {
  display: flex;
}

.socials__item {
  padding: 6px;
}

.icon {
  width: 30px;
  height: 30px;
}
@media screen and (max-width: 768px) {
  .icon {
    width: 20px;
    height: 20px;
  }
}

.gamburger {
  display: none;
}

.product-section {
  height: 100vh;
  width: 100%;
  min-height: 40.625rem;
  min-width: 20rem;
  display: flex;
}

.product__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: relative;
}
.product__container:after {
  content: url("../img/products/berriesproduct.png");
  position: absolute;
  bottom: -5.5555555556rem;
  right: 3%;
}
@media screen and (max-width: 768px) {
  .product__container:after {
    display: none;
    content: "";
    background-image: url("../img/products/berriesproduct.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    bottom: 23.8888888889rem;
    right: 24%;
    width: 335px;
    height: 231px;
  }
}
@media screen and (max-width: 480px) {
  .product__container:after {
    width: 200px;
    height: 130px;
    right: 21%;
  }
}

.products {
  display: flex;
  margin: 24px 0px;
  max-width: 252px;
}

.products__item {
  flex: 1 1 auto;
  margin: 0 0px;
}

.product__desk {
  font-weight: bold;
}

.slider {
  position: relative;
  overflow: hidden;
}

.slider__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1.875rem;
  z-index: 20;
}

.slider__btn--next {
  right: -1.25rem;
  transform: rotate(-90deg);
}

.slider__btn--prev {
  left: -1.25rem;
  transform: rotate(90deg);
}

.slider__list {
  width: 100%;
  display: flex;
  align-items: center;
  transition: transform 0.3s;
  background-image: url("./img/products/candybar.png");
}

.slider__title {
  font-weight: bold;
  font-size: 36px;
  color: #292929;
  padding: 30px 0px;
  max-width: 374px;
}
@media screen and (max-width: 768px) {
  .slider__title {
    width: 452px;
    text-align: center;
  }
}

.slider__price-amount {
  font-size: 60px;
  font: "Alegreya Sans";
  color: #292929;
}

.slider__left, .slider__right {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .slider__left, .slider__right {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .slider__left, .slider__right {
    width: 50%;
  }
}

.slider__item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
@media screen and (max-width: 768px) {
  .slider__item {
    flex-direction: column;
  }
}

.slider__row {
  display: flex;
  max-width: 304px;
}

.slider__price {
  margin: auto;
}

.slider__pic {
  max-width: 100%;
}

.slider__desc {
  max-width: 368px;
}
@media screen and (max-width: 768px) {
  .slider__desc {
    width: 528px;
    text-align: center;
  }
}

.section-best {
  position: relative;
  align-items: center;
  text-align: center;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.best-title {
  display: flex;
  justify-content: center;
  margin-bottom: 5.5rem;
}

@media screen and (max-width: phones) {
  .section__title--black {
    font-size: 2.8125rem;
    margin-bottom: 0;
  }
}

.best__text {
  font-size: 4.5rem;
  font-family: "gagalinregular";
  font-weight: normal;
}

.best__produkts {
  display: flex;
}
@media screen and (max-width: phones) {
  .best__produkts {
    flex-direction: column;
  }
}

.produkts__item {
  display: flex;
  flex-direction: column;
  flex: 1;
  line-height: 1.42;
  font-size: 1rem;
  padding: 0 0.9375rem;
}
@media screen and (max-width: phones) {
  .produkts__item {
    flex-direction: row;
    margin-bottom: 4.375rem;
  }
}
@media screen and (max-width: phones) {
  .produkts__item {
    margin-bottom: 0.9375rem;
  }
}

.produkts__pic {
  width: 6.25rem;
  height: 6.25rem;
}

.produkts__title {
  font-family: "lifehack";
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
  font-weight: lighter;
}

.produkts__desc {
  font-family: "ubuntu";
  font-weight: lighter;
  font-size: 0.875rem;
  color: #2f3234;
}
@media screen and (max-width: phones) {
  .produkts__desc {
    text-align: left;
    margin-left: 1.5625rem;
  }
}

.section-menu {
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.accordeon-menu {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}

.menu-burger__list {
  display: flex;
  height: 100%;
}

.menu-burger__item {
  display: flex;
}

.menu-burger__item--active .menu-burger__desc {
  width: 33.75rem;
  transition: width 0.5s;
}
@media screen and (max-width: 768px) {
  .menu-burger__item--active .menu-burger__desc {
    width: 100%;
    transition: width 0.5s;
  }
}
@media screen and (max-width: phones) {
  .menu-burger__item--active .menu-burger__desc {
    width: 100%;
    transition: width 0.5s;
  }
}
@media screen and (max-width: phones) {
  .menu-burger__item--active .menu-burger__desc {
    width: 100%;
    transition: width 0.5s;
  }
}

.menu-burger__item--active .menu-burger__title {
  color: #f9b43b;
}

.menu-burger__trigger {
  width: 5rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: center top no-repeat/cover;
}

.menu-burger__title {
  font-size: 2.5rem;
  font-family: "gagalinregular";
  font-weight: normal;
  color: #fff;
  transform: rotate(270deg);
  display: block;
  white-space: nowrap;
}

.menu-burger__desc {
  background-color: #2f3234;
  opacity: 0.929;
  width: 0;
  overflow: hidden;
}

.menu-burger__desc p {
  color: #fff;
  font-size: 0.875rem;
  padding-top: 3.75rem;
  padding-left: 2.0625rem;
  line-height: 1.5rem;
}

.button_container {
  display: none;
  position: absolute;
  top: 5%;
  right: 2%;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  transition: opacity 0.25s ease;
}
@media screen and (max-width: 768px) {
  .button_container {
    display: block;
  }
}

.button_container.button_container--active {
  opacity: 0.7;
}

.button_container.button_container--active .button_container--top {
  transform: translateY(11px) translateX(0) rotate(45deg);
  border-radius: 5px;
}

.button_container.button_container--active .button_container--middle {
  opacity: 0;
}

.button_container.button_container--active .button_container--bottom {
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  border-radius: 5px;
}

.button_container .button_container__item {
  background: #fff;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.35s ease;
  cursor: pointer;
}

.button_container .button_container__item:nth-of-type(2) {
  top: 11px;
}

.button_container .button_container__item:nth-of-type(3) {
  top: 22px;
}

.overlay {
  position: fixed;
  background: #2e3133;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  overflow: hidden;
}

.overlay.overlay--open {
  opacity: 0.99;
  visibility: visible;
  z-index: 10;
  height: 100%;
}

.overlay.overlay--open .overlay-menu__item {
  animation: fadeInRight 0.5s ease forwards;
  animation-delay: 0.35s;
}

.overlay-menu {
  position: absolute;
  height: 70%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-family: "Vollkorn", serif;
  font-weight: 400;
  text-align: center;
}

.overlay-menu__list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
}

.overlay-menu__item {
  display: block;
  position: relative;
  line-height: 1;
  opacity: 0;
}

.overlay-menu__item:after {
  display: inline-block;
  vertical-align: middle;
  content: " ";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #fff;
}

.overlay-menu__item:last-child:after {
  display: none;
}

.overlay-menu__link {
  display: block;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 24px;
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
.body-active-menu {
  overflow: hidden;
}

.btn-close {
  color: #fff;
  font-size: 24px;
  font-family: Helvetica;
}

.click__img {
  width: 46px;
  height: 46px;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
}

.click__text {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 14.0121px;
  line-height: 17px;
}

.ingredients {
  position: relative;
  width: 91px;
  height: 91px;
  background: #86C3D7;
  text-align: center;
  padding: 12px;
}
@media screen and (max-width: 768px) {
  .ingredients {
    display: none;
  }
}

.ingredients:hover .composition {
  left: 100%;
  opacity: 1;
}

.composition {
  width: 273px;
  height: 344px;
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 0%;
  left: -99999px;
  opacity: 0;
  transition: 0, 3s;
}

.composition__item {
  display: flex;
  justify-content: space-between;
  margin: 30px;
}