$containerWidth: 1100px;
$baseFontSize: 18px;

//breakpoints 

$tablets: 768px;
$phones: 480px;

//colors
$blue: #61c4d9;
$darkGreen:#365A49;
$black: #2f3234;
$orange: #f9b43b;
$main: #fff;
$accent: #ea7656;

@import "media.scss";

//z-indexes
$z-fixed-menu: 100;

//normalize 
@import "./normalize.scss";

//setup 
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&display=swap');
//layout
@import "layout";

//components

@import "componets/hero.scss";
@import "componets/header";
@import "componets/feature.scss";
@import "componets/features.scss";
@import "componets/btn.scss";
@import "componets/section.scss";
@import "componets/benefits.scss";
@import "componets/benefit.scss";
@import "componets/headline.scss";
@import "componets/benefits-section.scss";
@import "componets/reviews.scss";
@import "componets/interactive-avatar.scss";
@import "componets/form.scss";
@import "componets/radio.scss";
@import "componets/fixed-menu.scss";
@import "componets/contacts.scss";
@import "componets/socials.scss";
@import "componets/icon.scss";
@import "componets/gamburger.scss";
@import "componets/product.scss";
@import "componets/slider.scss";
@import "componets/maxin.scss";
@import "componets/best.scss";
@import "componets/menu.scss";
@import "componets/overlay.scss";
@import "componets/click.scss";
@import "componets/ingredients.scss";
@import "componets/team.scss";
