.btn{
    font-style: rem(19px);
    font-weight: bold;
    padding: rem(18px) rem(37px);
    text-transform: uppercase;
    border-radius: rem(100px);
    line-height: 1;
    text-decoration: none;
    border: none;
    display: inline-block;

    &--theme--white {
        background: #fff;
        color: $darkGreen;
        
        &:hover {
            color: #fff;
            background: $darkGreen;
        }
    }

    &--theme--green {
        background: $darkGreen;
        color: #fff;
        
        &:hover {
            color: $darkGreen;
            background: #fff;
        }
    }

    &--theme--green--all {
        background: $darkGreen;
        color: #fff;
        
        &:hover {
            color: #fff;
            background: $darkGreen;
        }
    }

    &--theme--transparent {
        background: transparent;
        color: #000;
        text-transform: none;
        
        &:hover {
            color: $darkGreen;
            
        }
    }

   
}


