.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.phone-number.header__phone-number {
    @include tablets{
        display: none;
    }
}
.phone-number__icon{
    flex-shrink: 0;
}
.phone-number__text{
    white-space: nowrap;
}
.menu{
    display: flex;
    margin: 0 30px;
    padding-top: 5px;

    @include tablets{
        display: none;
    }
}
.menu__list{
    display: flex;
    align-items: center;
    margin-right: rem(90px);
    flex-wrap: wrap;
    justify-content: center;
    


}

.menu__item{
    margin-right: rem(15px);
    margin-top: 10px;

    &:last-child{
        margin-right: 0;
    }
}
.menu__link{
    text-decoration: none;
    white-space: nowrap;

}

.phone-number {
    font-size: rem(24px);
    text-decoration: none;
    display: flex;
    align-items: center;
}

.phone-number__icon-elem{
    width: rem(12px);
    height: rem(12px);
    margin-right: rem(6px);
}