.hero {
    background: url("../img/main/bluesheet.png") right bottom no-repeat;
    background-color: $blue;
    height: 100%;
    min-height: rem(650px);
    color: #fff;
    position: relative;
    


    @media screen and (min-widh: 768px) {
        background: url("../img/main/bluesheet.png") right bottom no-repeat;
    }

    @include tablets {
        background-position: right bottom 88%;
        height: 100%;
    }

    @include phones {
        background-position: right bottom 88%;
        height: 100%;
    }


    //&:before, &:after{
    //      @include tablets{
    //        display: none;
    //     }
    // }

    &:before {
        position: absolute;
        bottom: rem(-40px);
        left: 2%;
        content: url("../img/main/csheet.png");

        @include phones {
            display: none;
            ;
        }


    }

    &:after {
        content: url("../img/main/pattern.png");
        position: absolute;
        bottom: rem(-42px);
        right: 3%;

        @include tablets {
            content: "";
            background-image: url("../img/main/pattern.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            bottom: rem(430px);
            right: 24%;
            width:335px;
            height:231px;   
        }
        @include phones {
            width: 200px;
            height: 130px; 
            right: 21%;
        }
       

    }

}

.hero__title-section {
    width: 46%;
    margin-bottom: 5%;
    z-index: 1;
    

    @include tablets {
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

    }

    @include phones{
        position: relative;
        top: 55px;
    }
}

.hero__icons-section {
    @include tablets {
        display: none;
    }
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: rem(24px) 0 rem(45px);
    background: url("../img/main/candybar.png") right center /auto no-repeat;

    @include tablets{
        background-size: 70%;
    }

    @include phones {
        background-size: 70%;
    }
    
}

.hero__main-title {
    font-size: rem(48px);
    line-height: 1.1;
    font-weight: bold;
    margin-bottom: rem(20px);
    text-transform: uppercase;
}

.hero__title-desk {
    font-size: rem(21px);
    margin-bottom: rem(20px);
    padding-right: 10%;

    @include tablets {
        padding: 0 25%;
    }

    @include phones {
        padding: 0 16%;
    }
}