.ingredients__click:hover .composition {
  display: block;
}

.composition {
  display: none;
  width: 273px;
  height: 344px;
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 0%;
  left: 100%;
}