.interective-avatar{
    width: rem(80px);
    height: rem(80px);
    //border: rem(6px) solid #0f5a47;
    border: rem(6px) solid transparent;
    border-radius: 50%;
    overflow: hidden;
    position: relative;

    &--active{
        border: rem(6px) solid #0f5a47;
    }
}

.interective-avatar__link{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
}

.interective-avatar__img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

