.modal {
  display: none;
}
.modal.error-modal .modal__content {
  color: red;
}
.modal.fancybox-content {
  padding: 0 !important;
}
.modal .fancybox-button {
  display: none;
}

.modal__container {
  background: #fff;
  padding: 35px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__content {
  margin-buttom: 15px;
  color: #000;
}