.products-menu-section{
   background: url(../img/products-menu/slider.png) center center/cover no-repeat;
   background-size: cover;
   position: relative;
   color: #fff;
   height: 100%;
}

.products-menu-section__title{
    color: white;
    position: absolute;
    top: 10%;
    left: 7%;
}

.products-menu{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
}


.products-menu__item{
    height: 100%;
    visibility: visible;
    display: flex;
    overflow: hidden;
}

.products-menu__trigger-text{
    display: inline-block;
    text-decoration: none;
    transform: rotate(-180deg);
    font-size: 48px;
    white-space: nowrap;
    writing-mode: tb-rl;
}

.products-menu__trigger{
    width: 102px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-decoration: none;
}

.products-menu__content{
    background: #0000009c;
    width: 0;
}

.products-menu__text{
    padding: 40px;
}

.products-menu__item.active .products-menu__content{
    width: 550px;
}