.radio{
    display: flex;
    cursor: pointer;
    user-select: none;

    &--checkbox{
        border-radius: 0;
        &:before{
            background: url("../img/input/1.png") center no-repeat;
        }
     }
}

.radio__elem{
    display: none;

    &:checked ~ .radio__visible{
        &:before{
            display: block;
        }
    }
}

.radio__visible{
    width: rem(26px);
    height: rem(26px);
    position: relative;
    border-radius: 50%;
    background: #fff;

    &:before {
        content: "";
        width: rem(14px);
        height: rem(14px);
        background: #365a49;
        border-radius: 50%;
        position: absolute;
        display: none;
        top: 30%;
        left: 50%;
        transform: translate(-50%);
    }   
}