.team{
    justify-content: space-between;
}

.team--version--mobile{
    display: none;

    @include tablets {
        display: flex;
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center;
    }
}

.team--version--dekstor{
    display: flex;
    justify-content: center;
    justify-content:space-between;
    max-width: 970px;

    @include tablets{
        display: none;
    }
}

.team__item-text{
    display: flex;
    align-items: center;
    max-width: 200px;
    font-size: 21px;
    color: black;
    font-weight: bold;
    text-align: center;
}

.team__item--img{
    margin-bottom: 20px;

    @include tablets{
        overflow: hidden;
        height: 0;

        &--active{
            height: 272px;
        }
    }
}

.team__content{
    overflow: hidden;
    height: 0;
    position: absolute;
    max-width: 220px;
    transition: .3s;
}

.team__item-text:after{
    content: "";
    width: 0;
    height: 0;
    border-top: 9px solid green;
    border-left: 4.5px solid transparent;
    border-right: 4.5px solid transparent;
    margin-left: 10px;
}